hr{
	margin: 20px auto;
    color: #F05F44;
    border: 2px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}
html,body{
	  background: url(header.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: 'Josefin Sans', sans-serif;
	  height: 100%;
	  width: 100%;
}
h1{
	color: white;
}
.btn-danger{
	border-radius: 300px;
	font-weight: 700;
	width: 200px;
	background-color: #FF8278;
	border-color: #FF8278;
}
.buffer{
	height: 80px;
}
p{
	color: white;
	justify-content: center;
}


